.task-page-container {
    text-align: center;
}

.task-page-content {
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
}

div.centerDiv {
    width: 100%;
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 2px auto;
    line-height: 1.4;
}

ul.pagination li {
    display: inline;
    text-align: center;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}